* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Open Sans';
    background-color: #e6e6e6;
    padding: 10px;
}

.containerPrincipal {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0.1px 0.1px 0 #fff;
    margin: 30px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0px 1px 1px #000;
}

img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.containerInterno {
    line-height: 20px;
    margin: 10px;
}

.comentario .localizacao {
    font-weight: bold;
}
.tempo{
    color: #999;
    font-size: 10px;
    margin-left: auto;
}
.conteudo h2 a {
    color: #ce3228;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.conteudo{
    
}
.conteudo p {
    color: #555;
    font-size: 14px;
    margin-top: 10px;
}
